/*NORMALIZACION*/

* {
    padding: 0;
    margin: 0;
    /*Esto mantiene el ancho y alto a pesar del padding y border*/
    box-sizing: border-box;
    font-family: 'inconsolata', 'Courier New', Courier, monospace;
    /*Quitar los puntos y decoracion de las listas*/
    list-style: none;
    /*Esto quita el subrayado de los enlaces*/
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
    /*TODO: Borrar cuenado tengamos el fondo final*/
}

header {
    position: fixed;
    /*Esto hace que el header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100;
    /*Esto hace que el header se muestre por encima*/
    width: 100%;
    display: flex;
    /*Esto hara que todos los elementos se acomoden en linea*/
    align-items: center;
    /*Centra verticalmente*/
    justify-content: space-between;
    /*Hace que los elementos se separen*/
    padding: 15px 3%;
    background-color: transparent;
}

.logo {
    font-size: 35px;
    font-weight: 800px;
    /*Este es el grueso del texto del logo*/

}

.navlist {
    display: flex;
    /*Esto sirve para que los elementos de la lista UL se pongan en linea*/
}

.navlist a {
    margin-left: 20px;
    /*Para separar las palabras*/
    font-size: 15px;
    font-weight: 600px;
    border-bottom: 2px solid transparent;
    /*Este es un subrayado transparente*/
    transition: all .5s ease;
    /*esto es para animar todas las caracteristicas de la navlist a*/
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    /*Se coloca en none para que solo aparezca cuando la pagina este colapsada*/
    display: none;
}

#menu-icon {
    color: white;
    font-size: 40px;
    z-index: 101;
    /*Para que este encima del header*/
    cursor: pointer;
    /*Para que aparezca la mano al señalarlo*/
}

#menu-toggle {
    /*Nunca quiero que se vea el checbox*/
    display: none;
}

.menu-icon-action {
    display: none;
    /*Para que no se le pueda hacer click*/
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #549456 0%, #65c26b 25%, #131313 75%);
    /*Fondo de color gradiente*/
    position: relative;
    /*Para que sea relativo al contenedor, nos permite usar top, bottom, left y right*/
    display: grid;
    /*Para que el hero se pueda dividir en dos columnas*/
    grid-template-columns: 1fr 1fr;
    /*Las dos columnas*/
    align-items: center;
    /*Para que se pueda alinear verticalmente eñ HERO*/
    gap: 2rem;
    /*Para que haya espacion de 2 rems entre columnas*/
}

section {

    padding: 0 8%;
}

.hero-text h1 {
    font-family: monospace;
    font-size: 50px;
    line-height: 1;
    margin: 10px 0 10px 0;
}

.hero-text p {
    font-size: 95%;
    margin-bottom: 30px;
    line-height: 1.9;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;

}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-img img {
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 3s ease;
    /*Esto hace que la transicion sea lineal*/
    cursor: pointer;
    text-align: center;
}

.hero-img img:hover {
    width: 450;
    opacity: 0.6;
    transform: translateY(-30px);
}

.hero-text a {
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.cv i {
    margin-right: 5px;
}

.hero-text a.portafolio i {
    margin-right: 5px;
}

.icons-celular {
    display: none;
    text-align: center;
}

.icons-celular i:hover {
    display: inline-block;
    cursor: pointer;
    color: #4d4d4d;
    transition: all .5s ease;
    transform: translateY(-8px);
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;

}

.icons i:hover {
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

/*Aca vamos a hacer mediaqueries para que la web sea responsive*/
@media (max-width: 992px) {
    section {
        padding: 0 3%;
        transition: 0.2s;
    }

    .hero-text {
        padding-top: 20px;
        height: 75%;
    }

    .hero-img {
        text-align: center;
        margin-top: 25px;
    }

    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p {
        font-size: 70%;
    }

    .icons {
        display: none;

    }

    .scroll-down {
        display: none;
    }

    .icons-celular {
        display: block;
        font-size: 30px;
        padding: 5px;
        text-align: left;
        margin-left: 10%;

    }
}

@media(max-width: 768px) {
    .menu-icon-action {
        display: block;
    }

    #menu-icon {
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;

    }

    .hero-img img {
        margin: 10% 15%;
        height: 50%;
        padding: 10px;
        width: 50%;


    }

    .hero {
        height: 100%;
        gap: 1;
        grid-template-columns: 1fr;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #024a04cc;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease;
    }

    .navlist a {
        display: block;
        margin: 7px 0;

    }

    #menu-toggle:checked+label.menu-icon-action+ul {
        right: 0;
    }

    .icons-celular {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 80%;
        height: 10%;
        justify-content: space-evenly;
        align-items: center;
    }



    .icons-celular i:hover {
        transform: translateY(-7px);
        transition: all .5s ease;

    }







}